.swiper-pagination {
    position: static!important;
    margin-top: 30px !important;
}

.swiper-pagination-bullet {
background-color: rgb(199, 198, 198) !important;
opacity: 1;
width:9px !important;
height: 9px !important;
}
.swiper-pagination-bullet-active{
    background-color: beige !important;
    width:13px !important;
    height: 13px !important;
}

.swiper-button-prev{
    background-image: url('../../assets/left-arrow.png') !important;
    left: 2% !important;

}
.swiper-button-next{
    background-image: url('../../assets/right-arrows.png') !important;
    right: 2% !important;
}
.swiper-button-prev, .swiper-button-next{
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    top:65% !important;

}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
content: '' !important;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    content: '' !important;
}
.process_slider{
    position: static !important;
}